.breadcrumb {
    background: none;
    padding-left: 0;
    padding-bottom: 0;
    margin-top: 1.1rem;
    margin-bottom: 0;
}

.breadcrumb-item.active {
    color: white;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: white;
}
