html,
body {
    height: 100%;
}

body {
    font-family: var(--font-primary);
    background-image: url("../images/texture.png");
    background-color: var(--background-colour);
    color: white;
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    flex-shrink: 0;

    background-color: var(--nav-colour);
    margin-top: 2rem;
    font-size: 0.8em;
    color: #8d8d8d;
    padding: 0.5em;
}

footer > div {
    display: flex;
    justify-content: space-between;
}

footer a {
    color: #8d8d8d;
}

footer a:hover {
    color: white;
}

footer i {
    color: white;
    font-size: 1em;
}

.wrapper {
    flex: 1 0 auto;
}
